/*@font-face {
	font-family: "Montserrat";
	src: url(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet");
}*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic,cyrillic-ext');

@font-face {
	font-family: "moolboran";
	src: url(/fonts/moolboran.ttf);
}
@font-face {
	font-family: "gothic";
	src: url(/fonts/gothic.ttf);
}

body {
	margin: 0;
	/* display: block; */
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul, menu, dir {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
a:-webkit-any-link {
	color: #000;
    cursor: pointer;
    text-decoration: none;
}

a[href^="tel:"] {
	color: #000;
	font-weight: 500;
	font-size: 2em;
	float: left;
	margin-right: 80px;
	font-family: "moolboran";
	margin-top: -7px;
	letter-spacing: 2px;
  }
  a[href^="mailto:"] {
	color: #000;
	font-weight: 500;
	font-size: 2em;
	float: left;
	margin-right: 80px;
	font-family: "moolboran";
	margin-top: -7px;
	letter-spacing: 2px;
  }
h1 {
font-weight: 500;
    color: #000;
    text-transform: uppercase;
    font-size: 1.7em;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 40px;
}
p {
	margin: 0;
}

.backmain {
	background: url(/images/mainback.jpg);
	height: 100vh;
	background-size: cover;
    background-position: center center;
}

.talignc {
	text-align: center;
}

.mainmenu {
	padding-bottom: 7px;
	border-bottom: 3px solid #3244cc;
	max-width: 640px;
    margin-right: 200px;
	display: inline-block;
	float: left;
}
.upmenuitem {
	display: inline-block;
	color: #000;
	font-weight: 600;
	font-size: 0.9em;
}
.upcontacts {
	color: #000;
	font-weight: 500;
	font-size: 2em;
	float: left;
	margin-right: 80px;
	font-family: "moolboran";
	margin-top: -7px;
	letter-spacing: 2px;
}
.mainmenu>ul>li>a {
	padding: 25px 25px;
	text-decoration: none;
	color: #000;
}
li>a:first-child {
	padding: 25px 25px 25px 0px;
}
.logo {
	background-image: url(/images/logocg.png);
	background-repeat: no-repeat;
	float: left;
    width: 210px;
    height: 26px;
    margin-right: 50px
}

.topbar {
	min-width: 940px;
    padding-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.maintext {
	padding-left: 320px;
	padding-top: 185px;
	max-width: 630px;
}
.strblock {
	font-size: 4em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
	margin-bottom: 10px;
	line-height: 85px;
	font-family: "Montserrat";
}

.pricemain {
	font-size: 1.3em;
	color: #000;
	margin-bottom: 50px;
}

.pricemainbig {
	font-size: 2.7em;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.moreinfo {
	color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 50px;
    background-color: #3244cc;
    letter-spacing: 3px;
    border: none;
    cursor: pointer;
    align-items: center;
    text-shadow: none;
    text-rendering: inherit;
    box-sizing: unset;
    font: 500 1.2em "Montserrat";
    padding-left: 25px;
    padding-right: 25px;
}

.moreinfo:hover {
	box-shadow: 0px 6px 5px 3px #fff;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
	background-color: #0019D5;
}

.moreinfo:active {
	margin-top: 3px;
}
.footer {
	min-height: 300px;
	background-color: #01072E;
	width: 100%;
}

.fblock {
	width: 940px;
	max-width: 1150px;
    padding-top: 50px;
	margin: auto;
}

.fblockfirm {
	color: #A8B2FF;
	width: 22%;
	padding: 10px 30px 10px 10px;
	float: left;
	font-size: 1.3em;
	line-height: 30px;
}
.fblocksmall {
	color: #fff;
	width: 22%;
	padding: 10px;
	float: left;
	font-size: 1.3em;
}
.strsect {
	width: 940px;
	max-width: 940px;
	padding-top: 30px;
	padding-bottom: 50px;
	margin: auto;
}
.strsectpr {
	width: 940px;
	max-width: 940px;
	padding-bottom: 50px;
	margin: auto;
}
.strsecblock {
	width: 450px;
    text-align: left;
    line-height: 25px;
    font-size: 1em;
    display: inline-block;
    height: 300px;
    vertical-align: top;
}
.strsecblockim01 {
	background-image: url(/images/str01.jpg);
	background-repeat: no-repeat;
	display: inline-block;
    width: 450px;
    height: 256px;
}
.strsecblockim02 {
	background-image: url(/images/str02.jpg);
	background-repeat: no-repeat;
	display: inline-block;
    width: 450px;
    height: 256px;
}


.strpricesec {
	background-image: url(/images/strpriceblock.png);
	background-repeat: no-repeat;
	height: 100vh; 
	margin-top: -140px;
	z-index: 10;
    position: relative;
}
.strpriceblock {
    width: 53%;
    text-align: left;
    line-height: 30px;
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
.strpricesm {
    font-size: 0.3em;
}
.strpriceblockprice {
	font-size: 5em;
	color: #001298;
	    display: inline-block;
	vertical-align: middle;
}
.strblockpaddt {
	padding-top: 170px;
}
.txtunderline {
	text-decoration: underline;
}

.remontsect {
	background: url(/images/remontback.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: -230px;
    z-index: 1;
    position: relative;
}

.remcontain {
	width: 940px;
	max-width: 940px;
	padding-bottom: 50px;
	margin: auto;
}
.remblock {
	width: 31%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

.remheader {
	padding-top: 145px;
}
